body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:517px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:43px;
  width:319px;
  height:517px;
  display:flex;
}
#u585 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u585_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:161px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:74px;
  width:319px;
  height:161px;
  display:flex;
}
#u586 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u586_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:44px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:30px;
  width:318px;
  height:44px;
  display:flex;
}
#u587 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u587_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:530px;
  width:320px;
  height:30px;
  display:flex;
}
#u588 .text {
  position:absolute;
  width:100%;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u588_text {
  border-width:0px;
  visibility:hidden;
  word-wrap:break-word;
  text-transform:none;
}
